.buingPanel {
    background-color: #11131a;
    width: 1300px;
    height: 745px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    background-color: #212739;
    text-align: center;
    float: left;
    width: 250px;
}

.panel {
    background-color: #11131a;
    height: 500px;
    width: 500px;
    padding-bottom: 120px;
}

.buttonBuy:hover {
    background-color: #212739;
    color: rgb(72, 153, 193);
}

.btnMaskBalance {
    border-radius: 5px;
    border: none;
    background-color: #11131a;
    color: rgb(72, 153, 193);
}

.buttonBuy {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(72, 153, 193);
    font-size: 24px;
}

.mainLbl {
    text-align: center;
}

.sumPanel {
    background-color: #191b23;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 100px;
}

.coinPanel {
    background-color: #191b23;
    border-radius: 10px;
    padding: 20px;
    height: 80px;
}

.usdtIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}

.usdtIconSecond {
    width: 60px;
    height: 60px;
    margin-left: 210px;
    margin-top: -20px;
}

.usdtIconSecond {
    width: 60px;
    height: 60px;
    margin-left: 210px;
    margin-top: -20px;
}

.ratePanel {
    height: 50px;
}

input {
    background-color: #191b23;
    color: darkgray;
    border: none;
    font-size: 20px;
}

.selectInput {
    overflow: scroll;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    width: 200px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.selectInput:hover,
select:focus {
    border-color: rgb(72, 153, 193);
}

.selectInput option {
    font-size: 16px;
}

select {
    color: darkgray;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #191b23;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-color: rgb(72, 153, 193);
}

select:focus {
    outline: none;
    border-color: rgb(72, 153, 193);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}