.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.regForm {
  width: 500px;
  height: 500px;
  background-color: #212739;
  border-radius: 20px;
  padding: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.inputField1 {
  margin: 10px;
  background-color: #212739;
  border: 2px solid rgb(72, 153, 193);
  border-radius: 10px;
  font-size: 30px;
  height: 50px;
}

.inputField1:hover,
.inputField1:focus {
  border: 2px solid rgb(255, 247, 0) !important;
}

.btnMaskBalance {
  border-radius: 5px;
  border: none;
  background-color: #11131a;
  color: rgb(72, 153, 193);
}

label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

input[type="radio"]:checked~.checkmark:after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333;
}

.buttonRegistrations {
  height: 40px;
    border: none;
    background-color: rgb(72, 153, 193);
    color: black;
    font-size: 20px;
    border-radius: 5px;
    width: 356px !important;
    margin-left: 10px;
}

.errorText1{
  margin-left: 10px;
  color: red;
}

.createNewAccountLbl{
  margin-left: 20px;
}